PyQt5~=5.15.9
pygame~=2.5.2
shapely~=2.0.4
geojson~=3.1.0
opencv-python~=4.9.0.80
geopandas~=0.14.4
matplotlib~=3.9.0
scipy~=1.13.1
numpy~=1.26.4
pillow~=10.3.0
pip~=24.0
attrs~=23.2.0
pytz~=2024.1
click~=8.1.7
fiona~=1.9.6
cligj~=0.7.2
six~=1.16.0
setuptools~=65.5.0
pandas~=2.2.2
python-dateutil~=2.9.0.post0
pyproj~=3.6.1
certifi~=2024.2.2
contourpy~=1.2.1
fonttools~=4.52.4
packaging~=24.0
pyparsing~=3.1.2
cycler~=0.12.1
kiwisolver~=1.4.5
python-dotenv~=1.0.1